body {
    margin: 0em;
    padding: 0em;
    color: #2f2f2f;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a.headerlink {
    visibility: hidden;
}

.footer ul:last-child {
    opacity: 1
}

.footer ul {
    width: 0px;
    opacity: 0;
}

.footer .copyright {
    width: 90%;
}

.footer {
    margin-top: auto;
    background: #4c4c4c;
    font-family: "Source Sans Pro", sans-serif;
    padding: 2em 24px
}

.section.docs {
    max-width: 68em;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}
~ 
